main {
	padding: 0;
	padding-bottom: 75px;
}

canvas {
	border: 1px solid white;
	border-radius: 5px;
	width: 100%;
	height: auto;
}

.characters {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px; /* Adjust gap as needed */
	padding-bottom: 5px;
	padding-left: 20%; /* Add left and right padding for larger screens */
	padding-right: 20%; /* Add left and right padding for larger screens */
}
