main {
	padding: 0;
	min-height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	align-items: center;
	place-content: center;
	flex-direction: column;
	gap: 20px;
}

button {
	/* margin: 10px; */
	width: 140px;
	height: 30px;
	color: black;
	background-color: white;
	font-size: 12px;
	font-weight: 700;
	border-radius: 4px;
}

button:hover {
	background-color: #0088a9;
}
