/* backgrounds */

img {
	/* height: 300px; */
	/* width: 550px; */
	width: 100%;
}

.backgrounds {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	max-width: 850px;
	row-gap: 1.4em;
	column-gap: 1em;
}

#background {
	position: relative;
	cursor: pointer;
	border: 3px solid rgb(53, 56, 61);
}

#background_1 {
	position: relative;
	cursor: pointer;
	border: 3px solid rgb(53, 56, 61);
}

#background_2 {
	position: relative;
	cursor: pointer;
	border: 3px solid rgb(53, 56, 61);
}

#background_3 {
	position: relative;
	cursor: pointer;
	border: 3px solid rgb(53, 56, 61);
}

/* end of backgrounds */
